1. 라이브러리 및 데이터

In [0]:
from google.colab import drive
drive.mount('/gdrive', force_remount=True)

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /gdrive

In [0]:
!pip install tensorflow
!pip install tensorflow-gpu

Requirement already satisfied: tensorflow in /tensorflow-1.15.0/python3.6 (1.15.0)
Collecting tensorflow-estimator==1.15.1
  Downloading https://files.pythonhosted.org/packages/de/62/2ee9cd74c9fa2fa450877847ba560b260f5d0fb70ee0595203082dafcc9d/tensorflow_estimator-1.15.1-py2.py3-none-any.whl (503kB)
     |████████████████████████████████| 512kB 18.5MB/s
Requirement already satisfied: keras-preprocessing>=1.0.5 in /usr/local/lib/python3.6/dist-packages (from tensorflow) (1.1.0)
Requirement already satisfied: keras-applications>=1.0.8 in /usr/local/lib/python3.6/dist-packages (from tensorflow) (1.0.8)
Requirement already satisfied: absl-py>=0.7.0 in /usr/local/lib/python3.6/dist-packages (from tensorflow) (0.9.0)
Requirement already satisfied: google-pasta>=0.1.6 in /usr/local/lib/python3.6/dist-packages (from tensorflow) (0.1.8)
Requirement already satisfied: six>=1.10.0 in /usr/local/lib/python3.6/dist-packages (from tensorflow) (1.12.0)
Requirement already satisfied: termcolor>=1.1.0 in /usr/local/lib/python3.6/dist-packages (from tensorflow) (1.1.0)
Requirement already satisfied: wrapt>=1.11.1 in /usr/local/lib/python3.6/dist-packages (from tensorflow) (1.12.1)
Requirement already satisfied: grpcio>=1.8.6 in /usr/local/lib/python3.6/dist-packages (from tensorflow) (1.24.3)
Collecting tensorboard<1.16.0,>=1.15.0
  Downloading https://files.pythonhosted.org/packages/1e/e9/d3d747a97f7188f48aa5eda486907f3b345cd409f0a0850468ba867db246/tensorboard-1.15.0-py3-none-any.whl (3.8MB)
     |████████████████████████████████| 3.8MB 54.0MB/s
Requirement already satisfied: protobuf>=3.6.1 in /usr/local/lib/python3.6/dist-packages (from tensorflow) (3.10.0)
Requirement already satisfied: wheel>=0.26 in /usr/local/lib/python3.6/dist-packages (from tensorflow) (0.34.2)
Requirement already satisfied: opt-einsum>=2.3.2 in /usr/local/lib/python3.6/dist-packages (from tensorflow) (3.2.0)
Requirement already satisfied: numpy<2.0,>=1.16.0 in /usr/local/lib/python3.6/dist-packages (from tensorflow) (1.18.1)
Requirement already satisfied: astor>=0.6.0 in /usr/local/lib/python3.6/dist-packages (from tensorflow) (0.8.1)
Requirement already satisfied: gast==0.2.2 in /usr/local/lib/python3.6/dist-packages (from tensorflow) (0.2.2)
Requirement already satisfied: h5py in /usr/local/lib/python3.6/dist-packages (from keras-applications>=1.0.8->tensorflow) (2.8.0)
Requirement already satisfied: setuptools>=41.0.0 in /usr/local/lib/python3.6/dist-packages (from tensorboard<1.16.0,>=1.15.0->tensorflow) (45.2.0)
Requirement already satisfied: werkzeug>=0.11.15 in /usr/local/lib/python3.6/dist-packages (from tensorboard<1.16.0,>=1.15.0->tensorflow) (1.0.0)
Requirement already satisfied: markdown>=2.6.8 in /usr/local/lib/python3.6/dist-packages (from tensorboard<1.16.0,>=1.15.0->tensorflow) (3.2.1)
ERROR: tensorflow-gpu 2.1.0 has requirement tensorboard<2.2.0,>=2.1.0, but you'll have tensorboard 1.15.0 which is incompatible.
ERROR: tensorflow-gpu 2.1.0 has requirement tensorflow-estimator<2.2.0,>=2.1.0rc0, but you'll have tensorflow-estimator 1.15.1 which is incompatible.
ERROR: tensorflow-federated 0.12.0 has requirement tensorflow~=2.1.0, but you'll have tensorflow 1.15.0 which is incompatible.
ERROR: tensorflow-federated 0.12.0 has requirement tensorflow-addons~=0.7.0, but you'll have tensorflow-addons 0.8.3 which is incompatible.
Installing collected packages: tensorflow-estimator, tensorboard
  Found existing installation: tensorflow-estimator 2.1.0
    Uninstalling tensorflow-estimator-2.1.0:
      Successfully uninstalled tensorflow-estimator-2.1.0
  Found existing installation: tensorboard 2.1.1
    Uninstalling tensorboard-2.1.1:
      Successfully uninstalled tensorboard-2.1.1
Successfully installed tensorboard-1.15.0 tensorflow-estimator-1.15.1
Requirement already satisfied: tensorflow-gpu in /usr/local/lib/python3.6/dist-packages (2.1.0)
Requirement already satisfied: grpcio>=1.8.6 in /usr/local/lib/python3.6/dist-packages (from tensorflow-gpu) (1.24.3)
Collecting tensorboard<2.2.0,>=2.1.0
  Using cached https://files.pythonhosted.org/packages/d9/41/bbf49b61370e4f4d245d4c6051dfb6db80cec672605c91b1652ac8cc3d38/tensorboard-2.1.1-py3-none-any.whl
Requirement already satisfied: scipy==1.4.1; python_version >= "3" in /usr/local/lib/python3.6/dist-packages (from tensorflow-gpu) (1.4.1)
Collecting tensorflow-estimator<2.2.0,>=2.1.0rc0
  Using cached https://files.pythonhosted.org/packages/18/90/b77c328a1304437ab1310b463e533fa7689f4bfc41549593056d812fab8e/tensorflow_estimator-2.1.0-py2.py3-none-any.whl
Requirement already satisfied: keras-preprocessing>=1.1.0 in /usr/local/lib/python3.6/dist-packages (from tensorflow-gpu) (1.1.0)
Requirement already satisfied: numpy<2.0,>=1.16.0 in /usr/local/lib/python3.6/dist-packages (from tensorflow-gpu) (1.18.1)
Requirement already satisfied: gast==0.2.2 in /usr/local/lib/python3.6/dist-packages (from tensorflow-gpu) (0.2.2)
Requirement already satisfied: protobuf>=3.8.0 in /usr/local/lib/python3.6/dist-packages (from tensorflow-gpu) (3.10.0)
Requirement already satisfied: termcolor>=1.1.0 in /usr/local/lib/python3.6/dist-packages (from tensorflow-gpu) (1.1.0)
Requirement already satisfied: astor>=0.6.0 in /usr/local/lib/python3.6/dist-packages (from tensorflow-gpu) (0.8.1)
Requirement already satisfied: six>=1.12.0 in /usr/local/lib/python3.6/dist-packages (from tensorflow-gpu) (1.12.0)
Requirement already satisfied: google-pasta>=0.1.6 in /usr/local/lib/python3.6/dist-packages (from tensorflow-gpu) (0.1.8)
Requirement already satisfied: wrapt>=1.11.1 in /usr/local/lib/python3.6/dist-packages (from tensorflow-gpu) (1.12.1)
Requirement already satisfied: absl-py>=0.7.0 in /usr/local/lib/python3.6/dist-packages (from tensorflow-gpu) (0.9.0)
Requirement already satisfied: wheel>=0.26; python_version >= "3" in /usr/local/lib/python3.6/dist-packages (from tensorflow-gpu) (0.34.2)
Requirement already satisfied: keras-applications>=1.0.8 in /usr/local/lib/python3.6/dist-packages (from tensorflow-gpu) (1.0.8)
Requirement already satisfied: opt-einsum>=2.3.2 in /usr/local/lib/python3.6/dist-packages (from tensorflow-gpu) (3.2.0)
Requirement already satisfied: google-auth<2,>=1.6.3 in /usr/local/lib/python3.6/dist-packages (from tensorboard<2.2.0,>=2.1.0->tensorflow-gpu) (1.7.2)
Requirement already satisfied: requests<3,>=2.21.0 in /usr/local/lib/python3.6/dist-packages (from tensorboard<2.2.0,>=2.1.0->tensorflow-gpu) (2.21.0)
Requirement already satisfied: werkzeug>=0.11.15 in /usr/local/lib/python3.6/dist-packages (from tensorboard<2.2.0,>=2.1.0->tensorflow-gpu) (1.0.0)
Requirement already satisfied: markdown>=2.6.8 in /usr/local/lib/python3.6/dist-packages (from tensorboard<2.2.0,>=2.1.0->tensorflow-gpu) (3.2.1)
Requirement already satisfied: setuptools>=41.0.0 in /usr/local/lib/python3.6/dist-packages (from tensorboard<2.2.0,>=2.1.0->tensorflow-gpu) (45.2.0)
Requirement already satisfied: google-auth-oauthlib<0.5,>=0.4.1 in /usr/local/lib/python3.6/dist-packages (from tensorboard<2.2.0,>=2.1.0->tensorflow-gpu) (0.4.1)
Requirement already satisfied: h5py in /usr/local/lib/python3.6/dist-packages (from keras-applications>=1.0.8->tensorflow-gpu) (2.8.0)
Requirement already satisfied: cachetools<3.2,>=2.0.0 in /usr/local/lib/python3.6/dist-packages (from google-auth<2,>=1.6.3->tensorboard<2.2.0,>=2.1.0->tensorflow-gpu) (3.1.1)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.6/dist-packages (from google-auth<2,>=1.6.3->tensorboard<2.2.0,>=2.1.0->tensorflow-gpu) (0.2.8)
Requirement already satisfied: rsa<4.1,>=3.1.4 in /usr/local/lib/python3.6/dist-packages (from google-auth<2,>=1.6.3->tensorboard<2.2.0,>=2.1.0->tensorflow-gpu) (4.0)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests<3,>=2.21.0->tensorboard<2.2.0,>=2.1.0->tensorflow-gpu) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests<3,>=2.21.0->tensorboard<2.2.0,>=2.1.0->tensorflow-gpu) (2019.11.28)
Requirement already satisfied: idna<2.9,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests<3,>=2.21.0->tensorboard<2.2.0,>=2.1.0->tensorflow-gpu) (2.8)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests<3,>=2.21.0->tensorboard<2.2.0,>=2.1.0->tensorflow-gpu) (3.0.4)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /usr/local/lib/python3.6/dist-packages (from google-auth-oauthlib<0.5,>=0.4.1->tensorboard<2.2.0,>=2.1.0->tensorflow-gpu) (1.3.0)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in /usr/local/lib/python3.6/dist-packages (from pyasn1-modules>=0.2.1->google-auth<2,>=1.6.3->tensorboard<2.2.0,>=2.1.0->tensorflow-gpu) (0.4.8)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/lib/python3.6/dist-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib<0.5,>=0.4.1->tensorboard<2.2.0,>=2.1.0->tensorflow-gpu) (3.1.0)
ERROR: tensorflow 1.15.0 has requirement tensorboard<1.16.0,>=1.15.0, but you'll have tensorboard 2.1.1 which is incompatible.
ERROR: tensorflow 1.15.0 has requirement tensorflow-estimator==1.15.1, but you'll have tensorflow-estimator 2.1.0 which is incompatible.
ERROR: tensorflow-federated 0.12.0 has requirement tensorflow~=2.1.0, but you'll have tensorflow 1.15.0 which is incompatible.
ERROR: tensorflow-federated 0.12.0 has requirement tensorflow-addons~=0.7.0, but you'll have tensorflow-addons 0.8.3 which is incompatible.
Installing collected packages: tensorboard, tensorflow-estimator
  Found existing installation: tensorboard 1.15.0
    Uninstalling tensorboard-1.15.0:
      Successfully uninstalled tensorboard-1.15.0
  Found existing installation: tensorflow-estimator 1.15.1
    Uninstalling tensorflow-estimator-1.15.1:
      Successfully uninstalled tensorflow-estimator-1.15.1
Successfully installed tensorboard-2.1.1 tensorflow-estimator-2.1.0

In [0]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [0]:
import pandas as pd
import numpy as np
from tqdm import tqdm
import random
import tensorflow as tf
import matplotlib.pyplot as plt
import os

In [0]:
print(tf.__version__)
print(tf.test.is_gpu_available())

1.15.0
True

In [0]:
# 재생산성을 위해 시드 고정
np.random.seed(7)
random.seed(7)
tf.random.set_random_seed(7)

In [0]:
train = pd.read_csv("/gdrive/My Drive/dataset/AIFrenz/train.csv", index_col = 'id')
test = pd.read_csv("/gdrive/My Drive/dataset/AIFrenz/test.csv", index_col = 'id')

In [0]:
train.head()

    X00    X01  X02  X03  X04     X05  ...   Y13  Y14  Y15  Y16  Y17  Y18
id                                     ...
0   9.7  988.8  1.2  0.6  0.0  1009.3  ...  10.0  9.5  9.0  8.0  9.0  NaN
1   9.3  988.9  1.7  1.9  0.0  1009.3  ...  10.0  9.5  9.0  7.5  9.0  NaN
2   9.4  989.0  1.1  2.3  0.0  1009.2  ...   9.5  9.5  8.5  7.5  8.5  NaN
3   9.4  988.9  1.5  0.7  0.0  1009.2  ...   9.5  9.0  8.5  7.5  8.5  NaN
4   9.2  988.9  0.8  1.7  0.0  1009.2  ...   9.5  9.0  8.5  7.5  8.5  NaN

[5 rows x 59 columns]

In [0]:
train.tail()

       X00    X01  X02  X03  X04     X05  ...  Y13  Y14  Y15  Y16  Y17   Y18
id                                        ...
4747  19.9  987.6  0.9  0.8  0.0  1006.9  ...  NaN  NaN  NaN  NaN  NaN  21.5
4748  19.9  987.6  0.5  0.7  0.0  1006.8  ...  NaN  NaN  NaN  NaN  NaN  21.5
4749  19.7  987.7  0.9  0.6  0.0  1006.9  ...  NaN  NaN  NaN  NaN  NaN  21.5
4750  19.4  987.7  0.9  0.8  0.0  1006.9  ...  NaN  NaN  NaN  NaN  NaN  21.5
4751  19.1  987.6  1.0  0.3  0.0  1006.8  ...  NaN  NaN  NaN  NaN  NaN  21.0

[5 rows x 59 columns]

In [0]:
test.head()

       X00    X01  X02  X03  X04     X05  ...  X34    X35  X36   X37   X38  X39
id                                        ...
4752  18.7  987.4  1.5  1.3  0.0  1006.8  ...  0.0  194.7  0.0  84.0  59.9  0.0
4753  18.8  987.4  1.1  1.2  0.0  1006.7  ...  0.0  173.1  0.0  84.0  60.5  0.0
4754  19.0  987.4  1.3  1.2  0.0  1006.6  ...  0.0  208.6  0.0  85.0  60.8  0.0
4755  18.7  987.4  2.3  0.8  0.0  1006.6  ...  0.0  185.0  0.0  85.8  61.2  0.0
4756  18.4  987.4  1.1  0.7  0.0  1006.7  ...  0.0  162.8  0.0  87.3  61.7  0.0

[5 rows x 40 columns]

In [0]:
train.shape  # 33일 간 데이터
test.shape   # 80일 간 데이터

(4752, 59)

(11520, 40)

2. 데이터 전처리

In [0]:
# 기상청 데이터만 추출
X_train = train.loc[:,'X00':'X39']

# standardization을 위해 평균과 표준편차 구하기
MEAN = X_train.mean()
STD = X_train.std()

# 표준편차가 0일 경우 대비하여 1e-07 추가 
X_train = (X_train - MEAN) / (STD + 1e-07)

In [0]:
X_train.head()

    X00    X01  X02  X03  X04     X05  ...  X34    X35  X36   X37   X38  X39
id                                     ...
0   9.7  988.8  1.2  0.6  0.0  1009.3  ...  0.0  256.4  0.0  77.2  62.6  0.0
1   9.3  988.9  1.7  1.9  0.0  1009.3  ...  0.0  215.4  0.0  77.3  63.5  0.0
2   9.4  989.0  1.1  2.3  0.0  1009.2  ...  0.0  235.2  0.0  77.3  63.9  0.0
3   9.4  988.9  1.5  0.7  0.0  1009.2  ...  0.0  214.0  0.0  77.5  64.5  0.0
4   9.2  988.9  0.8  1.7  0.0  1009.2  ...  0.0  174.9  0.0  78.0  65.0  0.0

[5 rows x 40 columns]

In [0]:
X_train.head()

         X00       X01       X02  ...       X37       X38       X39
id                                ...
0  -2.236377  0.053243 -0.288997  ...  0.577720  0.240703 -0.234576
1  -2.321347  0.083006  0.177482  ...  0.582841  0.289700 -0.234576
2  -2.300105  0.112769 -0.382293  ...  0.582841  0.311477 -0.234576
3  -2.300105  0.083006 -0.009110  ...  0.593083  0.344142 -0.234576
4  -2.342589  0.083006 -0.662181  ...  0.618688  0.371363 -0.234576

[5 rows x 40 columns]

In [0]:
X_train.tail()

           X00       X01       X02  ...       X38       X39  dummy
id                                  ...
4747 -0.069655 -0.303908 -0.568885  ...  0.022936 -0.126289      0
4748 -0.069655 -0.303908 -0.942069  ...  0.050157 -0.126289      0
4749 -0.112139 -0.274146 -0.568885  ...  0.039269 -0.126289      0
4750 -0.175867 -0.274146 -0.568885  ...  0.088266 -0.126289      0
4751 -0.239594 -0.303908 -0.475589  ...  0.071934 -0.126289      0

[5 rows x 41 columns]

In [0]:
# RNN 모델에 입력 할 수 있는 시계열 형태로 데이터 변환 
def convert_to_timeseries(df, interval):
    sequence_list = []
    target_list = []
    
    for i in tqdm(range(df.shape[0] - interval)):
        sequence_list.append(np.array(df.iloc[i:i+interval,:-1]))
        target_list.append(df.iloc[i+interval,-1])
    
    sequence = np.array(sequence_list)
    target = np.array(target_list)
    
    return sequence, target

In [0]:
# 토론 글에 기반하여, Y15와 Y16 지점의 데이터가 Y18과 상관관계가 높음. 그래서 두 지점의 데이터를 학습하기로 결정.
y_columns = ['Y15','Y16']

In [0]:
y_columns

['Y15', 'Y16']

In [0]:
# t시점 이전 120분의 데이터로 t시점의 온도를 추정할 수 있는 학습데이터 형성
sequence = np.empty((0, 12, 40))
target = np.empty((0,))
for column in y_columns :
    
    concat = pd.concat([X_train, train[column]], axis = 1)

    _sequence, _target = convert_to_timeseries(concat.head(6*24*30), interval = 12)

    sequence = np.vstack((sequence, _sequence))
    target = np.hstack((target, _target))

100%|██████████| 4308/4308 [00:01<00:00, 3357.38it/s]
100%|██████████| 4308/4308 [00:01<00:00, 3326.91it/s]

In [0]:
# convert_to_timeseries 함수를 쓰기 위한 dummy feature 생성
X_train['dummy'] = 0

In [0]:
X_train.head()

         X00       X01       X02       X03  ...       X37       X38       X39  dummy
id                                          ...
0  -2.236377  0.053243 -0.288997 -0.911345  ...  0.577720  0.240703 -0.234576      0
1  -2.321347  0.083006  0.177482  0.477320  ...  0.582841  0.289700 -0.234576      0
2  -2.300105  0.112769 -0.382293  0.904602  ...  0.582841  0.311477 -0.234576      0
3  -2.300105  0.083006 -0.009110 -0.804525  ...  0.593083  0.344142 -0.234576      0
4  -2.342589  0.083006 -0.662181  0.263679  ...  0.618688  0.371363 -0.234576      0

[5 rows x 41 columns]

In [0]:
# train set에서 도출된 평균과 표준편차로 standardization 실시 
test = (test - MEAN) / (STD + 1e-07)

In [0]:
# convert_to_timeseries 함수를 쓰기 위한 dummy feature 생성
test['dummy'] = 0

In [0]:
X_train.shape

(4752, 41)

In [0]:
# train과 test 기간을 합쳐서 120분 간격으로 학습데이터 재구축
X_test, _ = convert_to_timeseries(pd.concat([X_train, test], axis = 0), interval=12)

100%|██████████| 16260/16260 [00:06<00:00, 2476.11it/s]

In [0]:
X_test.shape

(16260, 12, 40)

In [0]:
# test set 기간인 후반부 80일에 맞게 자르기 
X_test = X_test[-11520:, :, :]   ## 뒤에서부터 11520개

In [0]:
X_test.shape

(11520, 12, 40)

In [0]:
# 만들어 두었던 dummy feature 제거
X_train.drop('dummy', axis = 1, inplace = True)
test.drop('dummy', axis = 1, inplace = True)

3. 변수 선택 및 모델 구축

In [0]:
# 간단한 lstm 모델 구축하기 
simple_lstm_model = tf.keras.models.Sequential([
    tf.keras.layers.LSTM(128, input_shape=sequence.shape[-2:]),  ## input_shape : (12, 40)
    tf.keras.layers.Dense(256, activation='linear'),
    tf.keras.layers.Dense(128, activation='linear'),
    tf.keras.layers.Dense(1)
])

simple_lstm_model.compile(optimizer='adam', loss='mse')

WARNING:tensorflow:From /tensorflow-1.15.0/python3.6/tensorflow_core/python/ops/resource_variable_ops.py:1630: calling BaseResourceVariable.__init__ (from tensorflow.python.ops.resource_variable_ops) with constraint is deprecated and will be removed in a future version.
Instructions for updating:
If using Keras pass *_constraint arguments to layers.

4. 모델 학습 및 검증

In [0]:
# loss가 4미만으로 떨어지면 학습 종료 시키는 기능
class myCallback(tf.keras.callbacks.Callback):
    def on_epoch_end(self, epoch, logs = None):
        if(logs.get('loss') < 4):
            print('\n Loss is under 4, cancelling training')
            self.model.stop_training = True

In [0]:
callbacks = myCallback()

In [0]:
# 모델 학습
simple_lstm_model.fit(    
    sequence, target,
    epochs=60,
    batch_size=128,
    verbose=2,
    shuffle=False,
    callbacks = [callbacks]
)

WARNING:tensorflow:From /tensorflow-1.15.0/python3.6/tensorflow_core/python/ops/math_grad.py:1424: where (from tensorflow.python.ops.array_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.where in 2.0, which has the same broadcast rule as np.where
Train on 8616 samples
Epoch 1/60
8616/8616 - 9s - loss: 163.0117
Epoch 2/60
8616/8616 - 1s - loss: 12.8587
Epoch 3/60
8616/8616 - 1s - loss: 7.0696
Epoch 4/60
8616/8616 - 1s - loss: 5.6218
Epoch 5/60
8616/8616 - 1s - loss: 5.1560
Epoch 6/60
8616/8616 - 1s - loss: 5.1739
Epoch 7/60
8616/8616 - 1s - loss: 5.4304
Epoch 8/60
8616/8616 - 1s - loss: 6.3075
Epoch 9/60
8616/8616 - 1s - loss: 7.1049
Epoch 10/60
8616/8616 - 1s - loss: 8.2125
Epoch 11/60
8616/8616 - 1s - loss: 7.3714
Epoch 12/60
8616/8616 - 1s - loss: 5.6903
Epoch 13/60
8616/8616 - 1s - loss: 5.5199
Epoch 14/60
8616/8616 - 1s - loss: 4.8865
Epoch 15/60
8616/8616 - 1s - loss: 4.7450
Epoch 16/60
8616/8616 - 1s - loss: 6.1137
Epoch 17/60
8616/8616 - 1s - loss: 6.3139
Epoch 18/60
8616/8616 - 1s - loss: 4.6660
Epoch 19/60
8616/8616 - 1s - loss: 4.2610
Epoch 20/60
8616/8616 - 1s - loss: 4.5748
Epoch 21/60
8616/8616 - 1s - loss: 5.4268
Epoch 22/60
8616/8616 - 1s - loss: 4.2709
Epoch 23/60

 Loss is under 4, cancelling training
8616/8616 - 1s - loss: 3.8049

In [0]:
# LSTM 레이어는 고정
simple_lstm_model.layers[0].trainable = False

In [0]:
# fine tuning 할 때 사용할 학습데이터 생성 (Y18)
finetune_X, finetune_y = convert_to_timeseries(pd.concat([X_train.tail(432), train['Y18'].tail(432)], axis = 1), interval=12)

100%|██████████| 420/420 [00:00<00:00, 2001.07it/s]

In [0]:
finetune_y.shape

(420,)

In [0]:
qq

           X00       X01       X02  ...       X38       X39   Y18
id                                  ...
4320 -0.197109 -0.274146 -0.568885  ...  1.057328 -0.234576  20.5
4321 -0.260836 -0.303908  0.364074  ...  1.144434 -0.234576  20.5
4322 -0.239594 -0.303908  0.457370  ...  1.182543 -0.234576  20.5
4323 -0.218351 -0.274146  0.270778  ...  1.226097 -0.234576  20.5
4324 -0.218351 -0.244383 -0.102406  ...  1.236985 -0.234576  20.5
...        ...       ...       ...  ...       ...       ...   ...
4747 -0.069655 -0.303908 -0.568885  ...  0.022936 -0.126289  21.5
4748 -0.069655 -0.303908 -0.942069  ...  0.050157 -0.126289  21.5
4749 -0.112139 -0.274146 -0.568885  ...  0.039269 -0.126289  21.5
4750 -0.175867 -0.274146 -0.568885  ...  0.088266 -0.126289  21.5
4751 -0.239594 -0.303908 -0.475589  ...  0.071934 -0.126289  21.0

[432 rows x 41 columns]

In [0]:
finetune_X.shape
finetune_y.shape

(420, 12, 40)

(420,)

In [0]:
# LSTM 레이어는 고정 시켜두고, DNN 레이어에 대해서 fine tuning 진행 (Transfer Learning)
finetune_history = simple_lstm_model.fit(
            finetune_X, finetune_y,
            epochs=20,
            batch_size=64,
            shuffle=False,
            verbose = 2)

Train on 420 samples
Epoch 1/20
420/420 - 0s - loss: 0.5071
Epoch 2/20
420/420 - 0s - loss: 0.5109
Epoch 3/20
420/420 - 0s - loss: 0.4766
Epoch 4/20
420/420 - 0s - loss: 0.4694
Epoch 5/20
420/420 - 0s - loss: 0.4515
Epoch 6/20
420/420 - 0s - loss: 0.4388
Epoch 7/20
420/420 - 0s - loss: 0.4292
Epoch 8/20
420/420 - 0s - loss: 0.4149
Epoch 9/20
420/420 - 0s - loss: 0.4068
Epoch 10/20
420/420 - 0s - loss: 0.3944
Epoch 11/20
420/420 - 0s - loss: 0.3852
Epoch 12/20
420/420 - 0s - loss: 0.3761
Epoch 13/20
420/420 - 0s - loss: 0.3659
Epoch 14/20
420/420 - 0s - loss: 0.3587
Epoch 15/20
420/420 - 0s - loss: 0.3485
Epoch 16/20
420/420 - 0s - loss: 0.3412
Epoch 17/20
420/420 - 0s - loss: 0.3325
Epoch 18/20
420/420 - 0s - loss: 0.3247
Epoch 19/20
420/420 - 0s - loss: 0.3184
Epoch 20/20
420/420 - 0s - loss: 0.3110

In [0]:
# 예측하기 
finetune_pred = simple_lstm_model.predict(X_test)

In [0]:
finetune_pred

array([[21.351072],
       [20.983845],
       [20.703867],
       ...,
       [25.598726],
       [25.265223],
       [24.77508 ]], dtype=float32)

In [0]:
# 제출 파일 만들기
submit = pd.DataFrame({'id':range(144*33, 144*113),
              'Y18':finetune_pred.reshape(1,-1)[0]})

In [0]:
submit.shape

(11520, 2)

In [0]:
submit.head()

     id        Y18
0  4752  21.351072
1  4753  20.983845
2  4754  20.703867
3  4755  20.250223
4  4756  19.936071

In [0]:
submit.tail()

          id        Y18
11515  16267  25.124069
11516  16268  25.398155
11517  16269  25.598726
11518  16270  25.265223
11519  16271  24.775080

In [0]:
submit.to_csv('/gdrive/My Drive/dataset/AIFrenz/baseline_result.csv', index = False)